*{
    background: #415A77;
    /* color: white; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-left: 420px;
    color: white;
   
}
table{
    color: #1B263B;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
table td{
    border: 1px solid black; 
    height: 100px;
    width: 100px;
}
button{
    
    padding: 15px;
    border-radius: 50px;
    color: white;
    background-color: #1B263B;
    border: white;
    font-size: 15px;

}
